
/* UTILITIES */
 #main-slots{
    height: calc(100vh - 70px);
 }

.full-screen-container{
    width: 100vw;
}

.custom-line-height{
    line-height: 20px;
}

.square-frame{
    width: 20px;
    height: 20px;
    line-height: 20px;
}

.img-logo-frame{
    width: 54px;
    height: 54px;
}


    
/* COLOR FARM */
:root{
    --salmon:#f26551;
    --dark-primary:#145cbc;
    --dark-blue:#142a40;
}

/* COLOR UTILITIES */

.salmon-bg{
    background-color: var(--salmon);
}

.dark-primary-bg{
    background-color: var(--dark-primary);
}

.dark-blue-bg{
    background-color: var(--dark-blue);
}

/* EFFECTS */
.bg-grey-effect{
    background-color: transparent;
}
.bg-grey-effect:hover{
    background-color: rgba(241, 235, 235, 0.415);
}
